<hr />
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <div class="row ml-lg-0">
            <div class="align-self-center"><input class="typeahead form-control" id="search-person" type="text" placeholder="Search..." /></div>
            <div class="align-self-center m-l-10 "><i class="fa-1x fas fa-ban " id="search-person-reset" style="color:red;"></i></div>
        </div>
    </div>
</div>
<div class="people m-t-15">
</div>
