@model ClassEditViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="modal-title" id="myLargeModalLabel">Edit class</h4>
    <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <form class="form-material" id="Save" asp-action="Edit" asp-controller="Class" method="post">

        <div class="form-group">
            <label>Class name <span class="help"></span></label>
            <input type="text" asp-for="Name" class="form-control form-control-line" placeholder="Enter class name...">
        </div>
        <div class="form-group">
            <label for="example-email">Select stage type <span class="help"></span></label>
            <select class="form-control " asp-for="StageType" asp-items="Html.GetEnumSelectList<EnumStageType>()"></select>
        </div>
        <div class="form-group">
            <label>Enrollment Spots<span class="help"></span></label>
            <input type="text" asp-for="EnrollmentSpots" class="form-control form-control-line" placeholder="Max no. of children">
        </div>
        <div class="form-group">
            <label>
                Teacher/student ratio<span class="help"></span>
            </label>
            <input type="text" asp-for="TeacherStudentRatio" class="form-control form-control-line" placeholder="Teachers/students">
        </div>
        <div class="form-group">
            <label>
                Daily report types<span class="help"></span>
            </label>
            @foreach (EnumDailyReportType item in Enum.GetValues(typeof(EnumDailyReportType)))
            {
                <input name="DailyReportTypes" type="checkbox" value="@item"
                       checked="@Model.DailyReportTypes?.Any(p=>p == item)" /> @item
                    <text>&nbsp; &nbsp;</text>
                }
        </div>
        @*<div class="form-group">
            <label>
                Move children to another class<span class="help"></span>
            </label>
            <input type="checkbox" asp-for="IsMove" class="form-control form-control-line">
        </div>*@
        @*<div class="form-group">
            <label>To class<span class="help"></span></label>
            <select class="form-control" asp-for="MoveClassId" style="width: 100%;" asp-items="@(new SelectList(Model.Classes, "Id", "Name"))"></select>
        </div>*@
        <input type="hidden" asp-for="ClassId" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger waves-effect close-modal " data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info waves-effect" form="Save">Save</button>
</div>