@{
    ViewData["Title"] = "Home Page";
}

<div class="row page-titles">
    
    <div class="col-md-12 align-self-center text-left d-none d-md-block">
        <button type="button" class="btn btn-info add-child" data-url="@Url.Action("Create", "Person")">
            <i class="fa fa-plus-circle"></i> Add Child
        </button>
    </div>
</div>
<div class="people">
    
</div>