<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@DateTime.Now</title>

    <partial name="_PartialCss" />
    @await RenderSectionAsync("Styles", false)


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Pro</p>
        </div>
    </div>
    <div id="main-wrapper">       
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">               
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                       <b>                           
                            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span>                            
                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />                           
                            <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>               
                <div class="navbar-collapse">                   
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down"><span></span></li>
                    </ul>                    
                    <ul class="navbar-nav my-lg-0">                       
                        <partial name="_PartialNotifications" />
                        <partial name="_PartialUserCard" />
                    </ul>
                </div>
            </nav>
        </header>
        <partial name="_PartialNavigation" />
        <div class="page-wrapper">
            <div class="container-fluid">
                <partial name="_PartialClasses" />
                @RenderBody()
            </div>
        </div>
        <div class="modal">
            <div class="modal-dialog  modal-xl">
                @*меняем отсюда*@
                <div class="modal-content">                    

                </div>
            </div>
        </div>
    </div>
    <partial name="_PartialJavaScript" />
    @await RenderSectionAsync("Script", false)
    <script>
        $(document).ready(function () {
            loadClass("person/");

            $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                nav: true,
                items: 5,
            })

            $(document).on("click", ".add-class", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".add-child", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".add-staff", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".edit-person", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".class-edit", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".class-select", function () {
                var url = $(this).data("url");
                loadClass(url);
            });

            $(document).on("click", ".class-select", function () {
                var url = $(this).data("url");
                loadClass(url);
            });

            function loadModal(url) {
                $.get(url, function (data) {
                    $(".modal-content").html(data)
                    $("body").addClass("modal-open");
                    $(".modal").show();
                })
            }

            

            function loadClass(url) {
                $.get(url, function (data) {
                    $(".people").html(data)
                })
            }
        })
    </script>
</body> 
</html>

