<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kiddywee Portal @DateTime.Now</title>

    <partial name="_PartialCss" />
    @await RenderSectionAsync("Styles", false)


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Kiddywee</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <b>
                            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span>
                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down"><span></span></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <partial name="_PartialNotifications" />
                        <partial name="_PartialUserCard" />
                    </ul>
                </div>
            </nav>
        </header>
        <partial name="_PartialNavigation" />
        <div class="page-wrapper">
            <div class="container-fluid">
                <partial name="_PartialClasses" />
                @RenderBody()
            </div>
        </div>
        <div class="modal">
            <div class="modal-dialog  modal-xl">
                @*меняем отсюда*@
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
    <partial name="_PartialJavaScript" />
    @await RenderSectionAsync("Script", false)
    <script>
    $(document).ready(function () {
        //Init logic
        $(document).on("click", ".close-modal", function () {
            $("body").removeClass("modal-open");
            $(".modal").hide();
        });

        initClassPartialViewLogic();
        switch ("@ViewBag.Page") {
            case "Attendance": initIndexPage(); break;
            case "Education": initEducationPage(); break;
            default: console.log("case defult");
        }

        //Init functions
        function initClassPartialViewLogic() {
                $(document).on("click", ".class-select", function () {
                    var url = $(this).data("url");
                    var classId = $(this).data("classid");
                    $(".selected-class").removeClass("selected-class");
                    $("#class-id-" + classId).addClass("selected-class");
                });

                $(document).on("click", ".add-class", function () {
                    var url = $(this).data("url");
                    loadModal(url);
                });

                $(document).on("click", ".class-edit", function () {
                    var url = $(this).data("url");
                    loadModal(url);
                });

                $("#search-class-reset").on('click', function () {
                    $('#search-class').val('');
                    $('.class-box').each(function () {
                        $(this).parent().show();
                    });
                    owl.trigger('refresh.owl.carousel');
                });

                $('#search-class').on('input', function () {
                    var searchString = this.value.toLowerCase();
                    var substrRegex = new RegExp(searchString, 'i');
                    $('.class-box').each(function () {
                        var name = $(this).data('name').toLowerCase();
                        if (substrRegex.test(name)) {
                            $(this).parent().show();
                        }
                        else {
                            if ($(this).hasClass('selected-class') == false) {
                                $(this).parent().hide();
                            }
                        }
                    });
                });
            }

        function initEducationPage() {
            initCarousel();
            loadLessonPlan(0);
            $("#class-id-0").addClass("selected-class");
            $(document).on("click", ".class-select", function () {
                //var url = $(this).data("url");
                var classId = $(this).data("classid");
                $(".selected-class").removeClass("selected-class");
                loadLessonPlan(classId)
                $("#class-id-" + classId).addClass("selected-class");
            });
        }

        function initIndexPage() {
            //Init
            initAttendanceDatepicker();
            loadPeopleAndAttendance("person/", 0);
            initCarousel();
            $(document).on("click", ".class-select", function () {
                var url = $(this).data("url");
                var classId = $(this).data("classid");
                $(".selected-class").removeClass("selected-class");
                loadPeopleAndAttendance(url, classId);
            });

            $(document).on("click", ".add-child", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".add-staff", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".edit-person", function () {
                var url = $(this).data("url");
                loadModal(url);
            });

            $(document).on("click", ".checkInOut-person", function () {
                var that = $(this);
                var url = that.data("url");
                var classId = that.data("classid");
                checkInOutAjax(url, classId, that);

            });

            $("#search-person-reset").on('click', function () {
                $('#search-person').val('');
                var type = $('#person-type-select').val();

                if (type == 'all') {
                    $('.person-card').each(function () {
                        $(this).show();
                    });
                }
                if (type == 'students') {
                    $('.person-card.person-staff-ns').each(function () {
                        $(this).hide();
                    });
                    $('.person-card.person-child-ns').each(function () {
                        $(this).show();
                    });
                }
                if (type == 'staff') {
                    $('.person-card.person-staff-ns').each(function () {
                        $(this).show();
                    });
                    $('.person-card.person-child-ns').each(function () {
                        $(this).hide();
                    });
                }
            });

            $('#person-type-select').on('change', function () {
                var type = this.value;
                if (type == 'all') {
                    $('.person-card').each(function () {
                        $(this).show();
                    });
                }
                if (type == 'students') {
                    $('.person-card.person-staff-ns').each(function () {
                        $(this).hide();
                    });
                    $('.person-card.person-child-ns').each(function () {
                        $(this).show();
                    });
                }
                if (type == 'staff') {
                    $('.person-card.person-staff-ns').each(function () {
                        $(this).show();
                    });
                    $('.person-card.person-child-ns').each(function () {
                        $(this).hide();
                    });
                }
            });

            $('#search-person').on('input', function () {
                var searchString = this.value.toLowerCase();
                var substrRegex = new RegExp(searchString, 'i');
                var type = $('#person-type-select').val();

                if (type == 'all') {
                    $('.person-card').each(function () {
                        var name = $(this).data('name').toLowerCase();
                        if (substrRegex.test(name)) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                }
                if (type == 'students') {
                    $('.person-card.person-staff-ns').each(function () {
                        $(this).hide();
                    });
                    $('.person-card.person-child-ns').each(function () {
                        var name = $(this).data('name').toLowerCase();
                        if (substrRegex.test(name)) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                }
                if (type == 'staff') {
                    $('.person-card.person-staff-ns').each(function () {
                        var name = $(this).data('name').toLowerCase();
                        if (substrRegex.test(name)) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                    $('.person-card.person-child-ns').each(function () {
                        $(this).hide();
                    });
                }
            });
        }   

        //Other functions
        function loadLessonPlan(classId) {
            $('#lesson-plan-calendar').fullCalendar('destroy');            
            initLessonPlanCalendar(classId);
            $('#lesson-plan-calendar').fullCalendar('render');
        }

        function initAttendanceDatepicker() {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true,
                endDate: today,
            });

            $('#datepicker-autoclose').datepicker('setDate', today);
            $('#datepicker-autoclose').datepicker()
                .on('changeDate', function (e) {
                    loadAttendance();
                });
        }

        function initCarousel() {
            $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                nav: true,
                items: 5,
            })
        }

        function initLessonPlanCalendar(classId) { 
            $('#lesson-plan-calendar').fullCalendar({
                initialView: 'dayGridMonth',
                weekends: false,
                weekNumbers: true,
                weekNumberTitle: "Week",
                handleWindowResize: true,
                displayEventTime: false,
                events: 'Education/LessonPlansJson?classId=' + classId,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
            });
            $('.fc-day').click(function () {
                var date = $(this).data('date');
                var classId = $('.class-box.selected-class').data("classid");
                var dateFormated = new Date(date).toJSON();
                var url = "Education/EditLessonPlan?classId=" + classId + "&date=" + dateFormated;
                loadModal(url);
            });            
        }


        function loadModal(url) {
            $(".loader").fadeIn();           
            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    $(".modal-content").html(response);
                    $(".loader").fadeOut();
                    $("body").addClass("modal-open");
                    $(".modal").show();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });        
        }        


        function checkInOutAjax(url, classId, that) {
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "JSON",
                    success: function (response) {
                        $.toast({
                            heading: response.header,
                            text: response.message,
                            position: 'bottom-right',
                            loaderBg: response.color,
                            icon: response.icon,
                            hideAfter: 10000
                        });

                        $.ajax({
                            type: "GET",
                            url: "class/initclasses",
                            dataType: "JSON",
                        }).done(function (data) {

                            $.each(data, function (key, value) {
                                $('#kids-in-' + value.classId).html(value.childrenIn + "/" + value.childrenTotal);
                                $('#staff-in-' + value.classId).html(value.staffIn + "/" + value.staffTotal);
                            });
                            loadAttendance();

                        });

                        if (that.find('.sl-icon-logout').length !== 0) {
                            //that.append($("<i class='sl-icon-login'></i>"));
                            that.parent().parent().parent().parent().parent().removeClass('person-in');
                            that.parent().parent().parent().parent().parent().addClass('person-was');
                            that.find('.sl-icon-logout').parent().parent().remove();
                        } else {
                            that.parent().parent().parent().parent().parent().removeClass('person-out');
                            that.parent().parent().parent().parent().parent().addClass('person-in');
                            that.find('.sl-icon-login').remove();
                            that.append($("<i class='sl-icon-logout'></i>"));
                        }



                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
            }

        function loadPeopleAndAttendance(url, classId) {
            $(".loader").fadeIn();
            $.get(url, function (data) {
                $(".people").html(data);
                $("#class-id-" + classId).addClass("selected-class");
                loadAttendance();
                $(".loader").fadeOut();
            })
        }

        function loadAttendance() {
            var classId = $('.class-box.selected-class').data("classid");
            var url = "attendance/GetAttendanceAjax";
            var date = $('#datepicker-autoclose').data('datepicker').getFormattedDate('yyyy-mm-dd');
            if (classId.length != 0) {
                url += "?classId=" + classId + "&date=" + date;
            }
            else {
                url += "?classId=null&date=" + date;
            }
            attendanceDataTable(url);
        };

        function attendanceDataTable(url) {
                $('#attendance').DataTable({
                    dom: 'Bfrtip',
                    destroy: true,
                    paging: false,
                    ajax: {
                        url: url,
                        dataSrc: ''
                    },
                    rowId: 'attendanceId',
                    columns: [
                        { data: 'name' },
                        { data: 'inDate' },
                        { data: 'outDate' },
                        { data: 'hours' }
                    ],

                    buttons: [
                        'csv', 'pdf', 'print'
                    ]
                });
        }

        ///Functions from pages
        $(document).on("click", "#create-contact", function () {
            var valdata = $("#CreateContact :input").serialize();
            $.ajax({
                type: 'post',
                url: "/Person/CreateContact",
                data: valdata,

                success: function (data) {
                    $("#contact").html(data);
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });

        $(document).on("click", "#cancel-create-contact", function () {
            var url = $(this).data("url");
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $("#contact").html(data);
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });

        $(document).on("click", "#edit-contact", function () {
            var valdata = $("#EditContact :input").serialize();
            $.ajax({
                type: 'post',
                url: "/Person/EditContact",
                data: valdata,

                success: function (data) {
                    $("#contact").html(data);
                    $.toast({
                        heading: 'Success',
                        text: 'Contact saved',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 10000
                    });
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });

        $(document).on("click", "#cancel-edit-contact", function () {
            var url = $(this).data("url");
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $("#contact").html(data);
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });

        $(document).on("click", "#add-contact", function () {
            $(".preloader").fadeIn();
            var url = $(this).data("url");
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $("#contact").html(data);
                    $(".preloader").fadeOut();
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });


        $(document).on("click", ".edit-contact", function () {
            //$(".preloader").fadeIn();
            var url = $(this).data("url");
            var contactId = $(this).data("contact-id")

            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    //$(".preloader").fadeOut();
                    $("#contact").html(data);

                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });
        $(document).on("click", ".delete-contact", function () {
            //$(".preloader").fadeIn();
            var url = $(this).data("url");
            var contactId = $(this).data("contact-id")

            $.ajax({
                type: 'delete',
                url: url,
                success: function (response) {
                    //$(".preloader").fadeOut();

                    $.toast({
                        heading: response.header,
                        text: response.message,
                        position: 'bottom-right',
                        loaderBg: response.color,
                        icon: response.icon,
                        hideAfter: 10000
                    });
                    $("#contact-" + contactId).remove();
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });

    });
    </script>
</body>
</html>