@model List<PersonEditFileViewModel>
@{
    Layout = "~/Views/Shared/_NullLayout.cshtml";
}
<div class="card-body">

    <table class="table color-table info-table">
        <tbody id="files-table">
            @{
                foreach (var file in Model)
                {
                    <tr id="@file.FileId">
                        <td>@file.Name</td>
                        <td> @Html.ActionLink("Download", "DownloadFile", "File", new { fileId = file.FileId })</td>
                        <td><a href="#" class="delete-file" data-url="/file/deletefile?fileId=@file.FileId">Delete</a></td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <div id="dZUpload" class="dropzone">
        <div class="dz-default dz-message">Drop files here to upload</div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var url = "/File/UploadMedicalFile?personId=@ViewBag.PersonId";
        Dropzone.autoDiscover = false;
        $("#dZUpload").dropzone({
            url: url,
            addRemoveLinks: true,
            success: function (file, response) {
                $.toast({
                    heading: response.header,
                    text: response.message,
                    position: 'bottom-right',
                    loaderBg: response.color,
                    icon: response.icon,
                    hideAfter: 10000
                });
                $("#files-table").append("<tr id='"+response.additionalData.id+"'><td>" + response.additionalData.name + "</td><td><a href='/file/downloadfile?fileId=" + response.additionalData.id + "'>Download</a></td><td><a href='#' class='delete-file' data-url='/file/deletefile?fileId="+response.additionalData.id+"'>Delete</a></td></tr>");
                //Extract to func
                $(".delete-file").click(function (e) {
                    console.log("click");
                    var url = $(this).data("url");
                    $.ajax({
                        url: url,
                        type: "GET",
                        dataType: 'json',
                    }).done(function (response) {
                        $.toast({
                            heading: response.header,
                            text: response.message,
                            position: 'bottom-right',
                            loaderBg: response.color,
                            icon: response.icon,
                            hideAfter: 10000
                        });
                        $("#" + response.additionalData.id).remove();
                    });
                });
                this.removeFile(file);
            },
            error: function (file, response) {
            },
            addedfile: function (file, response) {
            }
        });


        $(".delete-file").click(function (e) {
            console.log("click");
            var url = $(this).data("url");
            $.ajax({
                url: url,
                type: "GET",
                dataType: 'json',
            }).done(function (response) {
                $.toast({
                    heading: response.header,
                    text: response.message,
                    position: 'bottom-right',
                    loaderBg: response.color,
                    icon: response.icon,
                    hideAfter: 10000
                });
                $("#" + response.additionalData.id).remove();
            });
        });

    });

</script>